.userCard {
  display: inline-block;
  text-align: center;
  margin: .5rem;
  padding: 1rem;
  background-color: rgb(241, 241, 241);
  box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
  border-width: .25rem;
  border-radius: .5rem;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.userCard:hover, .userCard:focus {
  transform: scale( 1.05 );
}

.userName {
  font-size: 1.5em;
  padding: 0.5em;
  font-weight: bold;
}
